<b>Results for {{ response._id }}

<p>City: {{ response.city }}</p>
<p>State: {{ response.state }}</p>
<p>Population: {{ response.pop }}</p>

<a href="/city/{{response.city}}/state/{{response.state}}">View {{response.city}} ZipCodes</a>
